body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: grey;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: whitesmoke;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: lightskyblue;
  color: grey;
}

li a:hover:not(.active) {
  background-color: #555;
  color: grey;
}
#grad1 {
  background-color: #f5deb3; /* 针对不支持渐变的浏览器 */
  background-image: linear-gradient(to bottom right,#f5deb3, cadetblue);
}
#DomainChatGrad {
  background-color: #f5deb3; /* 针对不支持渐变的浏览器 */
  background-image: linear-gradient(to bottom right,gray, goldenrod);
}